* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #457fb4;
    font-family: "Roboto", sans-serif;
    display: flex;
    height: 100vh;
  }
  
.hero-container {
    margin: auto;
    display: flex;
}
  
.main-container {
    width: 270px;
    height: 540px;
    position: relative;
    margin: 0 20px;
}
  
.poster-container {
    width: 230px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 9999;
}
  
.poster-container img {
    width: 100%;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}
  
.ticket-container {
    background: #fff;
    width: 270px;
    height: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    display: none;
}

.ticket-content {
    padding-top: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ticket-content button {
    cursor: pointer;
    width: 270px;
    background: #2f2f2f;
    color: white;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.judul h4 {
    font-size: 18px;
    font-weight: bold;
}

.judul p {
    margin-top: 4px;
    font-size: 14px;
}

.price {
    padding-bottom: 39px;
    margin-top: 25px;
    text-align: center;
}

.price h3 {
    font-size: 20px;
    color: #46ad62;
}

.price p {
    font-size: 13px;
    color: #999;
    text-decoration: line-through;
}
  
.main-container:hover .ticket-container {
    display: block;
    cursor: pointer;
}